        *, *::before, *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Segoe UI', sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 20px;
            height: 100vh;
        }

        header, footer {
            background-color: #007BFF;
            color: white;
            padding: 1rem;
            text-align: center;
        }

        header {
            margin-bottom: 1rem;
        }

        main {
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.05);
            flex-grow: 2;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            font-weight: bold;
        }

        button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 1rem;
        }

        button:hover {
            background-color: #0056b3;
        }

        img {
            margin: 1rem 0;
            border: 1px solid #ccc;
            border-radius: 6px;
        }

        input[type="radio"] {
            margin-right: 0.5rem;
        }

        ul {
            list-style: none;
        }

        .option {
            margin: 0.5rem 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        h2, h3 {
            margin-bottom: 1.5rem;
            color: #0056b3;
        }

        .option-list {
            display: grid;
            gap: 1.5rem;
        }

        .option-container {
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 1.5rem;
            padding: 3rem;
            background-color: hsl(211, 100%, 92%);
            border-radius: 1.5rem;
            box-shadow: 0 4px 12px rgba(2, 73, 148, 0.3);
            min-width: 600px;

        }

        .option-content {
            text-align: center;
            
        }

        .option-item {
            border: 2px solid #007BFF;
            width: max-content;
            place-self: center;
            padding: 1rem 2rem;
            border-radius: 15px;
            transition: background .3s,;
            cursor: pointer;
        }
        
        a {
             color: #007BFF;
            transition: color .3s;
        }
        

        .option-item:hover {
            background-color: #007BFF;
        }

        .option-item:hover a {
            color: #fff;
        }
      
